<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Index Template</title>
  <link rel='stylesheet' href="styles/main.css">
</head>
<body>
  <div class="outer-wrapper">
    <!-- nav -->
    <header class="global-header">
      <a href="index.html" class="index-link-headline"><h3>BrianWynnDesign.com</h3></a>
      <nav class="global-nav">
        <ul>
          <li><a href="index.html">Portfolio</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="projects.html">Projects</a></li>
          <li><a href="about.html">About</a></li>
        </ul>
      </nav>
    </header>
    <!-- hero section -->
    <section class="hero">
      <div class="inner-wrapper">
        <article>
          <h1>Brian Wynn</h1>
          <h3>Full Stack Web Developer</h3>
          <p>Minions ipsum ut minim chasy tatata bala tu belloo! Potatoooo chasy incididunt chasy. Bappleees gelatooo minim daa. Cillum ut occaecat dolor daa commodo. Cillum ad exercitation tulaliloo chasy. Pepete bananaaaa poopayee butt belloo! Me want bananaaa! Dolor belloo! Dolore reprehenderit.</p>
        </article>
      </div>
    </section>
    <!-- portfolio items|links section -->
    <section class="project-list-section">
      <div class="inner-wrapper">
        <div class="index-headline">
          <h2>Projects</h2>
        </div>
        <div class="projects">
          <div class="project-category">
            <h2 class="center-self">Javascript/jQuery</h2>
          </div>
          <div class="project-category">
            <div class="center-self">
              <h2>Angular</h2>
              <h3>Node, Express, MongoDb</h3>
            </div>
          </div>
          <div class="project-category">
            <h2 class="center-self">Django/Python</h2>
          </div>
          <div class="project-category">
            <h2 class="center-self">About</h2>
          </div>
        </div>
      </div>
    </section>
    <!-- footer -->
    <footer class="global-footer">
      <div class="footer-links">
        <div class="left-cont">
          <ul>
            <!-- github link -->
            <li><a href="#">GitHub</a></li>
            <!-- linkedin link -->
            <li><a href="#">LinkedIn</a></li>
            <!-- twitter link -->
            <li><a href="#">Twitter</a></li>
          </ul>
        </div>
        <div class="right-cont">
          <ul>
            <!-- codepen link -->
            <li><a href="#">Codepen</a></li>
            <!-- instagram -->
            <li><a href="#">Instagram</a></li>
            <!-- strava?? -->
            <li><a href="#">Strava???</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-site-details">
        <div class="site-headline">
          <a href="index.html" class="index-link-headline"><h3>BrianWynnDesign.com</h3></a>
        </div>
      </div>
    </footer>
  </div><!-- end outer-wrapper -->
</body>
</html>
